@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width:480px) {
    .container {
      max-width: 1140px;
    }
    .foodtab {
        position: fixed;
        bottom: 0;
        
    }
   
  }
  